#headerImg {
	background: url('../images/fly.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-position: center;
    position: absolute;
    left:0; right:0;
    height: 360px;

}

.navBar {
	background: black;
	width: 150px;
	height: 100%;
	background-position: left;
	background-repeat: no-repeat;
}

.navbarBackground {
    position: absolute;
    left:0; top:0; bottom:0;
    width: 200px;
    background-color: #000000;
    z-index:1;
}

.main {
    position: absolute;
    left:178px; top: 360px; right:0; bottom:0;
}

.rowNav {
    padding-left: 0;
    padding-top: 360px;
}

ul {
    padding: 0;
    top: 360px;
}

ul a {
	display: block;
	background-color: #000000;
	width: 150px;
	position: relative;
}

nav.vertical {
  	border-radius: 4px;
  	box-shadow: 0 0 10px rgba(0,0,0,.15);
  	overflow: hidden;
  	text-align: left;
}

  nav.vertical ul {
    list-style-type: none;
  }

  nav.vertical ul ul {
      display: block;
  }